<div  style="text-align: center; margin-top: 3rem;">
<h1>New task</h1>
<% if @categories.length == 0 %>
  <p class="text-danger fw-bold">Create Category First</p>
<% end%>
<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Back to home", root_path %>
</div>
</div>