<p style="color: green"><%= notice %></p>

  <h1>Categories</h1>

  <div>
    <ul>
      <% @categories.each do |category| %>
      <li class="list-unstyled"><%=link_to category.title, category, class:"text-dark text-decoration-none link-primary" %></li>
      <% end %>
    </ul>
    
  </div>
